table {
	border:0;
	width:100%;
}
.conteudo{
margin: 0 auto;
width: 600px;
height: 60px;
border: solid 1px black;
background-color:#8B0000;

}

.principal{
margin: 0 auto;
width: 600px;
height: 350px;
border: 1px solid black;
}
.c1
{
width: 500px;
float: left;
margin: 0 auto;

}
.c2
{ margin: 0 auto;
width: 500px;
background-color:#8B0000; ;
float:right;

}
.entrar { 
	padding: 20px 70px;
	background: #72120B;
	color: #fff; font: 20px 'Times New Roman';
	display: table; transition: all 0.5s;
} 
.rodape { 
	padding: 70px 70px;
	background: #72120B;
	color: #fff; font: 20px 'Times New Roman';
	height: 300px;
	text-align: center;
} 
.comprar { 
	padding: 70px 70px;
	background: #72120B;
	color: #fff; font: 20px 'Times New Roman';
	height: 400px;
	width: 900px;
	text-align: center;

} 
